.dashboard-container {
    display: flex;
}

.dashboard-item {
    flex-grow: 2;
}

.detailPanel {
    flex-grow: 1;
    text-align: left;
    padding: 10px;
    flex-shrink: 19;
}

.list-group {
    flex-grow: 1;
    min-width: 20%;
}