.estimation-row {
    width: 85vw;
    margin: 16 auto;
    display:inline-flexbox;
    text-align: left;
    background-color:black;
    padding: 10px;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-gap: 20px; */
}